<div class="button-row">
  <%= link_to 'New Applicant Type', new_applicant_type_path, class: 'button' %>
</div>

<%= render 'shared/flash' %>

<table class="data">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th class="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @applicant_types.each do |applicant_type| %>
      <tr>
        <td><%= applicant_type.id %></td>
        <td><%= link_to applicant_type.name, edit_applicant_type_path(applicant_type) %></td>
        <td class="center"><%= link_to('edit', edit_applicant_type_path(applicant_type)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
